@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,800&family=Oxanium:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --secondary-color: #0D0D2B;
    --p-color : rgb(216, 200, 200);
}

html{
    font-size: 62.5%;
    font-family: 'oxanium', 'san-serif';
    overflow-x: hidden;
}

body{
    font-size: 1.6rem;
    overflow-x: hidden;
    width: 100vw;
    background: var(--secondary-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button:active {
    transform: scale(0.98);
}

/* ------------- MAIN/HERO SECTION STARTS -------------------*/

main {
    width: 100vw;
    background: var(--secondary-color);
    position: relative;
}


/* --------------- HEADER STARTS --------------------*/
header {
    height: 13vh;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin: 0 auto;
}

header #logo {
    flex-basis: 60%;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul a{
    color: #fff;
    margin-right: 4rem;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
}

nav ul a:hover,
nav ul a:focus {
    border-bottom: 0.1rem solid #3B82F6;
}

.log-reg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.log-reg a {
    color: #fff;
    text-transform: capitalize;
    margin-right: 2rem;
}

.log-reg span {
    color: #323A52;
}

.log-reg button {
    border: none;
    background-color: #3B82F6;
    outline: none;
    padding: 0.7rem 1.5rem;
    font-family: inherit;
    font-size: 1.7rem;
    color: #fff;
    border-radius:5rem;
    margin:0 2rem;
}

.bars.active .bar2{
    display: none;
}

.bars.active .bar1 {
transform: rotate(40deg) translateY(7px);
}  

.bars.active .bar3 {
    transform: rotate(-40deg) translateY(-6px);
}

.bars {
    display: none;
}


.bar{
    width: 3rem;
    height: 0.3rem;
    background: #fff;
    margin: 0.7rem;
    transition: transform 0.3s ease;
}


/* --------------- HEADER STOPS --------------------*/

/* ---------------HERO ------------------ */
.hero {
    width: 85%;
    margin: 0 auto;
    display: flex;
   margin-top: 1rem;
   padding-bottom: 10rem;
}

.hero-info {
    flex-basis: 50%;
}

.hero-info .save {
    background-color: rgba(255, 255, 255, 0.301);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgb(255, 255, 255, 0.1);
    width: 300px;
    height: 25px;
    padding: 1.4rem 0.3rem;
    font-size: 1.2rem;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 10rem;
}

.hero-info .save p{
    color: #fff;
    padding-left: 4rem;
}

.hero-info .save span {
    padding: 0.4rem 1rem;
    background-color: #fff;
    border-radius: 1rem;
    columns: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info h1{
    color: #fff;
    font-size: 5rem;
    line-height: 1.2;
}

.hero-info .buy-sell p {
    color: var(--p-color);
    font-size: 1.3rem;
    margin: 1rem 0 2rem 0;
}

.hero-info .try-for-free button {
    outline: none;
    border: none;
    padding: 1rem;
    height: 4rem;
    background-color: #2563EB;
    font-family: inherit;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hero-info .try-for-free button i {
    padding-left: 2rem;
    color: #fff;
    font-size: 2rem;
}

.hero-image {
    flex-basis: 50%;
}

.hero-image img{
    width: 50rem;
}

/* ---------------HERO ENDS------- */


/* -------STATISTICS-------------- */


.statsection{
    background-color: var(--secondary-color);
    position: relative;
}

.statistics{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.stats{
    display: flex;
}

.stats .digital-icon{
    margin-right: 3rem;
}

.stats .digital-icon i{
    color: #0000FF;
    font-size: 2rem;
    padding: 1.5rem;
    background-color: rgba(245, 245, 245, 0.445);
    border-radius: 50%;
}

.stats .digital-text h3{
    font-size: 2.5rem;
    color: #fff;
}

.stats .digital-text p{
    color: var(--p-color);
    font-size: 1.3rem;
}

/* -------STATISTICS END-------------- */

/* -------WHY CHAPPO SECTION */

.why{
    display: flex;
    width: 85%;
    margin: 0 auto;
    margin-top: 7rem;
}

.why .why-image{
    flex: 50%;
}

.why .why-image img{
    width: 55rem;
}

.why .why-text{
    flex: 50%;
}

.why .why-text h3{
    color: #fff;
    font-size: 5rem;
    font-weight: 400;
    padding-top: 7rem;
}

.why .why-text p{
    color: rgb(216, 200, 200);
    line-height: 1.5;
    margin-bottom: 3rem;
}

.why .why-text a {
    border: none;
    background-color: #3B82F6;
    outline: none;
    padding: 1rem 1.5rem;
    font-family: inherit;
    font-size: 1.7rem;
    color: #fff;
    border-radius:5rem;
}

/* -------WHY CHAPPO SECTION ENDS */


/* ---HOW MUCH CAN YOU EARN WITH US SECTION */

.how-much{
    width: 90%;
    margin: 0 auto;
    text-align: center;
   margin-top: 6rem;
   padding-bottom: 20rem;
}
.how-much h3{
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
}

.how-much p{
    color: var(--p-color);
    font-size: 1.4rem;
    padding-top: 1rem;
}

/* ---HOW MUCH CAN YOU EARN WITH US SECTION */

/* -------CHECK RATE  */

.check-rate{
    width: 1000px;
    background-color: #fff;
    padding: 3rem;
    position: absolute;
    bottom: -15rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1),0 3px 5px rgba(0, 0, 0, 0.1);
}

.check-rate form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 3rem;
}

.check-rate form input,
.check-rate form select{
    padding: 0.5rem;
    padding-top: 2rem;
    width: 400px;
    outline: none;
    font-size: 2.2rem;
    font-family: inherit;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(204, 195, 195);
}
.check-rate form input::placeholder{
    color: #000;
}

.check-rate form select{
    width: 200px;
}

.check-rate form button {
    border: none;
    background-color: #3B82F6;
    outline: none;
    padding: 1.2rem 3rem;
    font-family: inherit;
    font-size: 1.8rem;
    color: #fff;
    border-radius:5rem;
}

.revenue{
    margin: 3rem 0;
}
.estim {
    color: #3B82F6;
    margin-bottom: 2rem;
}

.eth {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

.eth span {
    color: #3B82F6;
}

.mining {
    color: rgb(112, 104, 104);
}

/* -------CHECK RATE---------*/

/* --------TRADE SECURELY-------------- */

.trade-section {
    padding-top: 25rem;
    width: 100%;
    padding-bottom: 5rem;
    background: rgb(248,249,250);
}

.trade-width{
    width: 85%;
    margin: 0 auto;
}

.trade-section h3{
    text-align: center;
    font-size: 2.5rem;
}

.trade {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.trade-card {
    width: 350px;
    height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1),
    0 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    padding: 2rem 0;
}

.trade-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
}

.trade-card img {
    margin: 3rem 0;
}

.trade-text h2{
    font-size: 3rem;
    font-weight: 900;
    position: relative;
    margin-bottom: 3rem;
}

.trade-text h2 span {
    position: absolute;
    font-size: 2rem;
    font-weight: 400;
    color: rgba(63, 62, 62, 0.548);
}

.trade-text p{
    line-height: 1.5;
    margin-bottom: 2rem;
}

.trade-card button{
    font-family: inherit;
    font-size: 3rem;
    width: 6rem;
    height: 6rem;
    border:2px solid var(--p-color);
    outline: none;
    background: #fff;
    border-radius: 5rem;
    color: #3B82F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trade-card button p{
    display: none;
}

.trade-card.active {
    background: #2A066E;
}

.trade-card.active button{
    width: 18rem;
    height: 6rem;
    font-size: 1.9rem;
    padding: 1rem;
    border: none;
    background: #3B82F6;
    color: #fff;
}

.trade-card.active .trade-text p, 
.trade-card.active .trade-text h2, 
.trade-card.active .trade-text h2 span{
    color: #fff;
}

.trade-card.active button p {
    display: block;
    padding-right: 1rem;
    white-space: nowrap;
}


/* --------TRADE SECURELY-------------- */


/* ---------MARKET SENTIMENTS */

.market-sent {
    width: 100%;
    background-color: var(--secondary-color);
}

.market-sent h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    padding: 5rem;
    width: 60%;
    margin: 0 auto;
}

.market-flex{
    display: flex;
    width: 85%;
    margin: 0 auto;
}
.market-flex .invent{
    padding-right: 5rem;
}
.market-flex .invent h4 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.market-flex .invent p{
    color: var(--p-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding-bottom: 3rem;
}

.market-flex .invent a {
    border: none;
    background-color: #3B82F6;
    outline: none;
    padding: 1rem 1.5rem;
    font-family: inherit;
    font-size: 1.7rem;
    color: #fff;
    border-radius:5rem;
}

.market-flex2{
    flex-direction: row-reverse;
    padding-right: 0rem;
    margin-top: 15rem;
    padding-bottom: 5rem;
}

.market-flex2 .invent{
    padding-top: 15rem;
    margin-left: 5rem;
}

.market-flex2 .invent p{
    width: 300px;
}

.market-flex1 {
    margin-top: 5rem;
}

.market-flex3 {
    margin-top: 15rem;
    padding-bottom: 5rem;
}

.market-flex3 .invent{
    padding-right: 0rem;
}
/* ---------MARKET SENTIMENTS --------*/

/* ------START MINING SUSUCRIBE ---------*/

.start-mining{
    background: url(images/newsletter-box.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    border-radius: 10px;
    margin-top: 7rem;
}

.start-mining .start-now{
    flex-basis: 50%;
    padding: 1rem;
}

.start-now h2{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 500;
    padding-bottom: 1rem;
}

.start-now p{
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.start-mining form{
    flex-basis: 50%;
}

.start-mining form input{
    width: 35rem;
    height: 4rem;
    padding: 1rem 0 0;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: inherit;
}

.start-mining form input::placeholder{
    color: #fff;
}

.start-mining form button{
    padding: 1rem 1.7rem;
    font-family: inherit;
    font-size: 1.8rem;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 20px;
    margin-left: 1rem;
}

/* ------START MINING SUSUCRIBE ---------*/

/* -----------FOOTER-------------- */

footer{
    width: 100%;
    background: var(--secondary-color);
    padding-top: 5rem;
}

.crappo-footer{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.crap h3{
    color: #fff;
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.crap ul li{
    padding: 1rem 0;
}

.crap ul li a{
    color: #fff;
    font-size: 1.7rem;
    font-family: 400;
}

.crap ul li a:hover{
    color: rgb(54, 113, 233);
}

.crappo-footer .payment h3{
    font-size: 1.8rem;
}

.crappo-footer .payment .payments-icon{
    margin-top: 4rem;
}

.crappo-footer .payment .payments-icon img{
    margin-right: 1rem;
}


.rights {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 15vh;
    padding: 2rem 0;
}

.rights .rights-socials i{
    font-size: 2.7rem;
    margin: 0 1rem;
}


/* -----------FOOTER-------------- */



/* ---------------MEDIA QUERY ---------------- */

@media (max-width: 1023px) {
    header{
        width: 70%;
    }
    main {
        position: relative;
    }
    header #logo {
        flex-basis: 100%;
    }
    nav {
        flex-direction: column;
        background: #252540;
        height: 100vh;
        z-index: 100;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 1200px;
        transition: all 0.6s ease;
    }
    nav.show{
        left: 0;
    }
    .bars {
        display: block;
        z-index: 100;
    }
    nav ul {
        flex-direction: column;
        margin:0 auto;
    }
    nav ul li {
        font-size: 2.7rem;
        margin: 2rem 0;
        text-align: center;
    }
    .log-reg {
        font-size: 2rem;
    }
    .log-reg button {
        font-size: 2rem;
    }

    .hero {
        flex-direction: column;
        width: 70%;
    }
    .hero h1{
        font-size: 3.7rem;
    }
    .hero-info .save {
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .hero-image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-image img{
        width: 60rem;
    }


    .statistics {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stats{
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        margin-bottom: 3rem;
    }
    .stats .digital-icon i{
        color: #0000FF;
        font-size: 3rem;
      
    }
    .stats .digital-text p{
        white-space: nowrap;
    }


    .why {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    .why .why-text p {
        font-size: 2rem;
    }
    .why .why-image img{
        width: 60rem;
    }


    .check-rate{
        width: 70%;
        padding-bottom: 0%;
        bottom: -20rem;
    }

    .check-rate form, input, select{
        display: block;
    }

    .check-rate form input,
    .check-rate form select{
        width: 100%;
        margin-bottom: 2rem;
    }

    .revenue{
     margin: 1rem 0;
    }

    .how-much {
        padding-bottom: 25rem;
    }


    .trade {
        flex-direction: column;
        align-items: center;
    }
    
    .trade-width {
        width: 70%;
    }

    .trade-section h3{
        font-size: 2.3rem;
        padding-top: 4rem;
    }

    .trade-card {
        width: 100%;
        margin-bottom: 5rem;
    }
    

    .market-sent{
        padding-bottom: 5rem;
    }

    .market-sent h3{
        font-size: 2.5rem;
    }
    .market-flex {
        flex-direction: column;
        width: 70%;
    }
    .market-flex .invent{
        width: 60%;
        margin-bottom: 5rem;
        width: 80%;
    }

    .market-flex2 .invent{
        padding-top: 0rem;
        margin-left: 0;
    }

    .market-flex1 img{
        
    }
    .market-flex2 img{
       
    }
    
    .market-flex3 img{
        
    }

    .market-flex3 {
        margin-top: 8rem;
    }


    .start-mining {
        width: 70%;
        flex-direction: column;
        margin-top: 6rem;
    }
    .start-mining form{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .start-mining form input{
        width: 100%;
        margin-bottom: 2rem;
    }
    
    .start-now{
        width: 100%;
        padding-left: 2rem;
    }
    .crappo-footer {
        width: 70%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .crappo-foot{
        margin-bottom: 4rem;
    }

    .crap {
        margin-top: 5rem;
    }
}

@media (max-width: 768px) {
    header, 
    .hero, 
    .why, 
    .how-much, 
    .check-rate, 
    .trade-width,
    .market-flex,
    .start-mining {
        width: 80%;
    }
    .hero-image img{
        width: 45rem;
    }
    .hero-info .buy-sell p {
        font-size: 1.2rem;
    }
    .eth {
        font-size: 3rem;
    }
    .market-flex2 img{
        width: 55rem;
    }

    .market-flex3 img{
        width: 55rem;
    }

    

    .start-mining .start-now{
        padding-left: 1rem;
     }

     .start-mining .start-now p{
        width: 350px;
        white-space: wrap;
     }

    .rights {
        flex-direction: column;
        margin-top: 3rem;
        height: 20vh;
    }
    .rights-text{
        padding-bottom: 2rem;
    }

    .rights .rights-socials i{
        font-size: 2.4rem;
    }
    
}

@media (max-width: 480px) {
    header, .hero, .why, .how-much, .check-rate, .trade-width, .market-flex{
        width: 90%;
    }
    .hero-info .buy-sell p {
        font-size: 1.2rem;
        width: 300px;
    }
    .statistics {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .stats{
        width: 70%;
    }

    .why {
        margin-top: 0rem;
    }
    .why .why-text h3{
        font-size: 3.5rem;
    }
    .why .why-text p{
        font-size: 1.8rem;
    }
    .why .why-image img{
        width: 35rem;
    }

    .how-much{
        width: 90%;
        margin: 0 auto;
        text-align: center;
       margin-top: 4rem;
       padding-bottom: 20rem;
    }
    
    .how-much p{
        color: var(--p-color);
        font-size: 1.2rem;
        padding:1rem 0 10rem 0;
    }

    .check-rate form button, select {
        margin: 3rem 0;
    }
    .check-rate form{
        padding-bottom: 1rem;
    }
    .revenue {
        margin-top: 1rem;
    }

    .start-mining{
        width: 90%;
    }

    .start-mining .start-now{
        margin-right: 8rem;
        margin-top: 0rem;
        padding-left: 2rem;
    }
    
    .start-now h2{
        font-size: 2.5rem;
        color: #fff;
        font-weight: 500;
        padding-bottom: 1rem;
    }
    
    .start-now p{
        width: 200px;
    }

    .start-mining form input{
        width: 30rem;
    }
    
    .market-sent h3{
        font-size: 1.8rem;
        width: 90%;
    }

    .market-flex .invent {
        width: 350px;
    }

    .market-flex2 img{
        width: 35rem;
    }

    .market-flex3 img{
        width: 35rem;
    }

    .crap h3{
        font-size: 2.1rem;
    }

    .crap ul li a{
        font-size: 1.5rem;
    }


    .crappo-footer .payment h3{
        font-size: 1.6rem;
    }

    .payments-icon {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 421px) {
    .start-mining form input{
        width: 25rem;
    }

    .how-much p{
        color: var(--p-color);
        font-size: 1.2rem;
        padding-bottom:15rem;
    }

    .start-now p {
        padding-right: 8rem;
    }

    .start-now h2{
        white-space: nowrap;
    }

    .start-mining .start-now{
        width: 200px;
        
    }
    
    .market-flex2 img{
        width: 28rem;
    }

    .market-flex3 img{
        width: 30rem;
    }

} 